/* GLOBAL RULES */
* {
  font-family: 'Quicksand', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  margin: 0px;
}

button {
  color: #ffffff;
  background-color: #134d71;
  height: 30px;
  width: 170px;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background: #f7e4bf;
  color: #000000;
  transform: scale(1.1);
}

.hidden {
  display: none!important;
}

/* LOGIN PAGE */
.login-page-welcome {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.enter-login {
  background-color: #ffffff;
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: auto;
}

.login-name {
  font-size: 21px;
}

.enter-name {
  height: 30px;
  width: 160px;
  font-size: 20px;
}

/* MAIN PAGE */
.top-area {
  display: flex;
  flex-direction: column;
}

.welcome-logout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logout {
  width: 80px;
}

.main-page-welcome-input,
.main-page-title,
.main-page-question {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.main-page-title {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.choice-area {
  background-color: #ffffff;
  height: 100px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
}

.middle-choice {
  display: flex;
  justify-content: space-around;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5%;
}

.error-message {
  color: #ffffff;
  text-align: center;
}

.response-area {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 125px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 40px;
}

.favorite-button,
.back-button {
  margin-left: 100px;
  margin-right: 100px;
  width: 80px;
}

.meditate-logo {
  display: flex;
  width: 60px;
}

.button-choices {
  display: flex;
  justify-content: center;
  gap: 1%;
}

/* FAVORITES PAGE */
.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites-title {
  color: #ffffff;
}

.saved-affirmations-mantras {
  display: grid;
  background-color: #ffffff;
  border-radius: 10px;
}

.aff-man {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.delete-aff-man {
  height: 25px;
  width: 25px;
}

.back-to-main {
  margin-top: 40px;
}

/* NEW MESSAGE */
.add-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 5%;
}

.add-button {
  width: 60px;
}
