/* GLOBAL RULES */
* {
  font-family: 'Quicksand', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  margin: 0px;
}

button {
  color: #ffffff;
  background-color: #134d71;
  height: 30px;
  width: 170px;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background: #f7e4bf;
  color: #000000;
  transform: scale(1.1);
}

.hr {
  width: 60%;
}

.hidden {
  display: none!important;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-welcome {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.login-area {
  margin-top: 50px;
}

.enter-login {
  background-color: #ffffff;
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.login-name {
  font-size: 21px;
}

.enter-name {
  height: 30px;
  width: 160px;
  font-size: 20px;
}

/* MAIN PAGE */
.top-area {
  display: flex;
  flex-direction: column;
}

.welcome-logout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logout {
  width: 80px;
}

.main-page-welcome-input,
.main-page-title,
.main-page-question {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.main-page-title {
  font-size: 28px;
}

.main-page-title:hover {
  transform: translateY(0) scale(1.5);
  transition: 500ms ease;
}

.choice-area {
  background-color: #ffffff;
  height: 100px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
}

.middle-choice {
  display: flex;
  justify-content: space-around;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5%;
}

.error-message {
  color: #f7e4bf;
  text-align: center;
}

.response-area {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 125px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 40px;
}

.favorite-button,
.back-button {
  margin-left: 100px;
  margin-right: 100px;
  width: 80px;
}

.meditate-logo {
  display: flex;
  width: 60px;
  animation: pulse 3s infinite;
  -webkit-animation: pulse 3s infinite;
  -moz-animation: pulse 3s infinite;
  -ms-animation: pulse 3s infinite;
  -o-animation: pulse 3s infinite;
}

.button-choices {
  display: flex;
  justify-content: center;
  gap: 1%;
}

/* VIEW ALL MESSAGES PAGE */
.affirmations-title,
.mantras-title {
  color: #ffffff;
  text-align: center;
}

.div-back-to-main-from-all-btn {
  display: flex;
  justify-content: center;
}

.back-to-main-from-all-btn {
  margin-bottom: 10px;
}

/* FAVORITES PAGE */
.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites-title {
  color: #ffffff;
}

.saved-affirmations-mantras {
  display: grid;
  background-color: #ffffff;
  border-radius: 10px;
}

.aff-man {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.delete-aff-man {
  height: 25px;
  width: 25px;
}

.back-to-main-from-fav-btn {
  margin-top: 30px;
}

/* NEW MESSAGE */
.add-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 5%;
}

.add-button {
  width: 60px;
}

/* ANIMATIONS */
.random-answer {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-webkit-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-moz-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-ms-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-o-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.aff-background {
  background: #78a7c6;
  animation: backgroundAnimation 5s ease;
  -webkit-animation: backgroundAnimation 5s ease;
  -moz-animation: backgroundAnimation 5s ease;
  -ms-animation: backgroundAnimation 5s ease;
  -o-animation: backgroundAnimation 5s ease;
}

.man-background {
  background: #92cf80;
  animation: backgroundAnimation 5s ease;
  -webkit-animation: backgroundAnimation 5s ease;
  -moz-animation: backgroundAnimation 5s ease;
  -ms-animation: backgroundAnimation 5s ease;
  -o-animation: backgroundAnimation 5s ease;
}

@keyframes backgroundAnimation {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}

@-webkit-keyframes backgroundAnimation {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}

@-moz-keyframes backgroundAnimation {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}

@-ms-keyframes backgroundAnimation {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}

@-o-keyframes backgroundAnimation {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 5px #134d71;
  border-top-color: #f7e4bf;
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
